{% extends "reviews/base.html" %}

{% block title %}Your Review{% endblock  %}
{% block content %}
  <form id="review_form" method="POST">
    {% csrf_token %}
    {% for field in form  %}
      <div class="form-control {% if field.errors %} errors {% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>      
    {% endfor %}
    {% comment %} <label for="username">Your name</label>
    <input id="username" name="username" type="text"> {% endcomment %}
    <button type="submit">Send</button>
  </form>
{% endblock  %}